<form action="/products/save" method="post">
    <% if (page.product.id) {%>
    <input type="hidden" value="<% page.product.id%>">
    <% } %>
    <fieldset>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%=page.product.title%>">
        <% if (page.errors) { %>
        <spam><%=page.errors[0].msg%></spam>
        <% } %>
    </fieldset>
    <fieldset>
        <label for="sku">SKU</label>
        <input type="text" id="sku" name="sku" value="<%=page.product.sku%>">
    </fieldset>
    <fieldset>
        <label for="price">Price</label>
        <input type="text" id="price" name="price" value="<%=page.product.price%>">
    </fieldset>
    <button>Create</button>
</form>